 html, body{
        height: 100%; /*ensures maximum height*/
        margin: 0;
    }

body{ 
        background-color: brown;


    }

.header{
        border:2px solid grey;
        background-color: gray;
        padding: 2px;
        width: auto;
        height: fit-content; /*fit content to the header section automatically*/
        margin: 2px;
        display: flex; /*flexible display*/
        align-items: center;
        gap: 100px;
    }

h1{
        text-align: center;
    }

.navigation{
        border:2px solid blue;
        display: flex;
        padding: 2px;
        margin: 2px;
        flex-direction: column; /*horizontal display */
        justify-content: flex-start;/*aligns items to the beginning of the main axis*/
        width:200px;
        text-align: center;
        background-color: blueviolet;
        overflow-y: auto; /*makes the nax accessible from every page and unscrollable*/

    }

.nav{
        display: flex;
        flex-direction: column;

    }

.header h3{
        text-align: center;
    }

img {
        width:200px;
        height:auto;
    }

.header h3{
        color: green;
    }

.layout{
        display: flex;
        height: 100%;
    }

.content{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
 }

nav a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        border: solid black 2px;
        gap: 10px;
        margin-top: 20px;
}

main img{
        width: 200px;
        height: 200px;
        border-radius: 5px;
        object-fit: cover; /*fits the objects*/
    }

.footer{
        border: solid blue 2px;
        margin: 10px;
        text-align: center;
}

table, th, td,tr{
    border: 2px solid  black;
    padding: 3px;
    text-align: center;
    border-collapse: collapse;

}